<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>CMS内容管理系统-系统设置</title>

    <!--引入头部的文件-->
    {{@ include 'admin/public/headerFile.html'}}
</head>

<body>
<!--引入头部导航部分-->
{{@include 'admin/public/nav_top.html'}}

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <!--引入左侧边栏-->
        {{@include 'admin/public/sidebar.html'}}

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">控制台</li>
                </ul><!-- .breadcrumb -->
            </div>

            <div class="page-content">

                <div class="page-header">
                    <h1>
                        系统设置
                    </h1>
                </div><!-- /.page-header -->


                <!--表格-->

                <div class="table-responsive">
                    <form action="{{host}}/admin/setting/doSave" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="site_title">网站名称:</label>

                            <div class="col-sm-10">
                                <input type="text" id="site_title"  name="site_title" class="col-xs-10 col-sm-5" value="{{list.site_title}}"/>
                            </div>
                        </div>


                        <div class="form-group" style="height: 100px;">
                            <label class="col-sm-2 control-label no-padding-right" for="site_logo">网站logo:</label>

                            <div class="col-sm-10">
                                <input type="file" id="site_logo" name="site_logo"/>
                            </div>
                            <div class="col-sm-10">
                                <img src="{{host}}/{{list.site_logo}}" alt="" style="width:80px;height:80px;margin:10px;margin-left:0px;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="site_keywords">网站关键字:</label>

                            <div class="col-sm-10">
                                <input type="text" id="site_keywords"  name="site_keywords" class="col-xs-10 col-sm-5"  value="{{list.site_keywords}}" />
                            </div>
                        </div>

                        <div class="form-group" style="height: 100px;">
                            <label class="col-sm-2 control-label no-padding-right" for="site_description">网站描述:</label>

                            <div class="col-sm-10">
                                <textarea name="site_description" id="site_description" cols="80" rows="5">{{list.site_description}}</textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="site_icp">网站备案号:</label>
                            <div class="col-sm-10">
                                <input type="text" id="site_icp"  name="site_icp" class="col-xs-10 col-sm-5" value="{{list.site_icp}}"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="site_qq">客服QQ:</label>
                            <div class="col-sm-10">
                                <input type="text" id="site_qq"  name="site_qq" class="col-xs-10 col-sm-5" value="{{list.site_qq}}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="site_tel">客服电话:</label>
                            <div class="col-sm-10">
                                <input type="tel" id="site_tel"  name="site_tel" class="col-xs-10 col-sm-5"  value="{{list.site_tel}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="site_email">公司邮箱:</label>
                            <div class="col-sm-10">
                                <input type="email" id="site_email"  name="site_email" class="col-xs-10 col-sm-5"  value="{{list.site_email}}" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="site_address">公司地址:</label>
                            <div class="col-sm-10">
                                <input type="address" id="site_address"  name="site_address" class="col-xs-10 col-sm-5"  value="{{list.site_address}}" />
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">是否关闭网站：</label>
                            <div class="col-sm-10">
                                <label for="status1">是：</label><input type="radio" name="site_status"  id="status1" value="1" {{if list.site_status==1}} checked {{/if}}/>
                                &nbsp;
                                <label for="status2">否:</label><input type="radio" name="site_status" id="status2" value="0" {{if list.site_status==0}} checked {{/if}}/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"></label>

                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!--引入底部的相关文件-->
{{@ include 'admin/public/footerFile.html'}}
</body>
</html>

