<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- basic styles -->
<link href="{{host}}/admin/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{host}}/admin/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="{{host}}/admin/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{host}}/admin/css/ace.min.css" />
<link rel="stylesheet" href="{{host}}/admin/css/ace-rtl.min.css" />
<link rel="stylesheet" href="{{host}}/admin/css/ace-skins.min.css" />
<link rel="stylesheet" href="{{host}}/admin/css/basic.css">

<script src="{{host}}/admin/js/ace-extra.min.js"></script>

<!--[if lt IE 9]>
<script src="{{host}}/admin/js/html5shiv.js"></script>
<script src="{{host}}/admin/js/respond.min.js"></script>
<![endif]-->
