<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于我们</title>
<link rel="stylesheet" type="text/css" href="{{G.host}}/web/css/reset.css" />
<link rel="stylesheet" type="text/css" href="{{G.host}}/web/css/common.css" />
<link rel="stylesheet" type="text/css" href="{{G.host}}/web/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="{{G.host}}/web/css/about.css" />


</head>

<body>
{{@ include 'web/public/header.html'}}
<div id="header_nav-wrapper">
    <div class="header_nav">
    	<h2>关于我们 About US <span>让品牌与您同在</span></h2>
    
    
    
    </div>



</div>

<div id="header_title-wrapper">

    <div class="header_title clear">
        <p >
        <a href="#">公司介绍</a>
        <a href="#">文化理念</a>
        <a href="#">组织架构</a>
        <a href="#" style="margin-right:20px;">发展历程</a>
        
        </p>
    </div>


</div>

<div id="main-wrapper">
    <div class="main_top">
       <a href="#"><img src="{{G.host}}/web/images/about/main_top-image.jpg" alt="&nbsp;"/></a>
        <dl>
            <dt>联系我们 Connect us</dt>
            <dd>我们始创于2009年，随着业务扩展，2013年我们联合合作伙伴共同 创建了南京电子商务有限公司，并重新塑造了某某互动品牌，正式开始了公司化运作。一路走来，我们历经风雨，但我们始终坚持。我们一直奉行用户至上原则，无论在视觉设计、代码开发还是产品运营，用户的体验始终是我们第一追求。从产品设计、开发到运营，团队聚集了互联网各领域的专家。除了提供核心的移动APP\WEB设计和开发服务外。我们还将品牌创意、宣传推广包括产品运营服务进行融合，为广大企事业客户提供 全方位一体化的解决方案。</dd>
  
        </dl>

    </div>
   
    
</div>



{{@ include 'web/public/footer.html'}}
        


</body>
</html>
