<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{G.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{G.host}}/web/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="{{G.host}}/web/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="{{G.host}}/web/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="{{G.host}}/web/css/swiper.min.css"/>
    <script type="text/javascript" src="{{G.host}}/web/js/swiper.min.js"></script>
    <style>
        .swiper-slide a {
            display: block;
            width: 100%;
            height: 540px;
            position: relative;

        }

        .swiper-slide a img {
            position: absolute;
            left: 50%;
            margin-left: -1280px;
            width: 2560px;
            height: 540px;

        }
    </style>

</head>
<body>
<!--引入头部-->
{{@ include 'web/public/header.html'}}

<div id="banner-wrapper">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {{each sliderList}}
            <div class="swiper-slide">
                <a href="{{$value.url}}" target="_blank"><img src="{{G.host}}/{{$value.pic}}" alt=""/></a>
            </div>
            {{/each}}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>

</div>
<!--引入footer-->
{{@ include 'web/public/footer.html'}}

<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true,
        loop: true,
        effect: 'fade',
        fadeEffect: {
            crossFade: false,
        },
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }

    })
</script>


</body>
</html>
