<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>CMS内容管理系统-用户列表</title>

    <!--引入头部的文件-->
    {{@ include 'admin/public/headerFile.html'}}
    <style>
        #admin_state img{
            cursor: pointer;
        }
    </style>
</head>

<body>
<!--引入头部导航部分-->
{{@include 'admin/public/nav_top.html'}}

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <!--引入左侧边栏-->
        {{@include 'admin/public/sidebar.html'}}

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">控制台</li>
                </ul><!-- .breadcrumb -->
            </div>

            <div class="page-content">

                <div class="page-header">
                    <h1>
                        管理员列表
                    </h1>
                </div><!-- /.page-header -->


                <!--表格-->

                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover center">
                        <thead>
                        <tr>
                            <th class="center">
                                <label>
                                    <input type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th class="center">姓名</th>
                            <th class="center">
                                <i class="icon-time bigger-110 hidden-480"></i>
                                最后登录时间
                            </th>
                            <th class="center">状态</th>
                            <th width="80px;" class="center">操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {{each list}}
                        <tr class="">
                            <td class="center">
                                <label>
                                    <input type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td>{{$value.username}}</td>
                            <td class="hidden-480">
                                {{if $value.lastTime }}
                                {{$value.lastTime | dateFormat}}
                                {{else}}
                                {{$value.lastTime}}
                                {{/if}}
                            </td>
                            <td class="hidden-480" id="admin_state">
                                {{if $value.status == 1}}
                                <img src="{{host}}/admin/images/yes.gif" alt="" onclick="app.toggle(this,'admin_user','status','{{@$value._id}}')">
                                {{else}}
                                <img src="{{host}}/admin/images/no.gif" alt="" onclick="app.toggle(this,'admin_user','status','{{@$value._id}}')">
                                {{/if}}
                            </td>
                            <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs btn-group center">
                                    <button class="btn btn-xs btn-info">
                                        <a href="{{host}}/admin/manage/edit?id={{@$value._id}}"><i class="icon-edit bigger-120"></i></a>
                                    </button>
                                    &nbsp;
                                    <button class="btn btn-xs btn-danger">
                                        <a class="delete_btn" href="{{host}}/admin/delete?collectionName=admin_user&id={{@$value._id}}"><i class="icon-trash bigger-120" ></i></a>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!--引入底部的相关文件-->
{{@ include 'admin/public/footerFile.html'}}

<script type="text/javascript">
    jQuery(function ($) {
        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });
        });

        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
    });
</script>
</body>
</html>

